@tailwind base;
@tailwind components;
@tailwind utilities;



  .scrollStyle::-webkit-scrollbar {
    width: 10px;
    height: 5px;
    text-align:left
  }

  .scrollStyle::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #21242D;
  }

  .scrollStyle::-webkit-scrollbar-thumb {
    background: #16181E;
    border-radius: 100vh;
    border: 3px solid #21242D;
  }

  .scrollStyle::-webkit-scrollbar-thumb:hover {
    background: #21242D;
  }
